Source: libdevel-findref-perl
Section: perl
Priority: optional
Maintainer: Alex <alex@basilisk.state51.co.uk>
Build-Depends: debhelper (>= 9.20120312~),
 libcommon-sense-perl,
 perl
Standards-Version: 3.9.6
Homepage: https://metacpan.org/release/Devel-FindRef

Package: libdevel-findref-perl
Architecture: any
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends},
 libcommon-sense-perl
Description: unknown
 Tracking down reference problems (e.g. you expect some object to be
 destroyed, but there are still references to it that keep it alive) can be
 very hard. Fortunately, perl keeps track of all its values, so tracking
 references "backwards" is usually possible.
 .
 The track function can help track down some of those references back to the
 variables containing them.
 .
 For example, for this fragment:
 .
 package Test;
 .
 use Devel::FindRef;
 .
 use Scalar::Util;
 .
 This description was automagically extracted from the module by dh-make-perl.
